.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCurrentOs {
  box-sizing: border-box;
  height: 7.9rem;
  border: 3px solid white;
}

.autodetect {
  opacity: 0.65;
  margin-top: 2rem;
}

.itemText {
  margin-left: 10px;
}

.cardTitle {
  text-align: center;
}

.dlCol {
  margin: var(--ifm-spacing-vertical) 0;
}

.downloadOption {
  --ifm-color-gray-900: var(--ifm-color-primary);
  padding: 1rem 0;
  border-color: transparent;
}

.supported {
  border-color: green;
}

.disabled > * {
  opacity: 0.25;
}