.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCurrentOs {
  border: 3px solid var(--ifm-code-color);
}

.cardNotCurrentOs {
  border: 3px solid var(--ifm-card-background-color);
}

.customCard {
  min-height: 7.9rem;
}

.autodetect {
  opacity: 0.65;
  margin-top: 2rem;
}

.itemText {
  margin-left: 10px;
}

.cardTitle {
  text-align: center;
}

.dlCol {
  margin: var(--ifm-spacing-vertical) 0;
}

.downloadOption {
  padding: 1rem 0;
  border-color: transparent;
}

.supported {
  border-color: green;
}

.disabledText {
  opacity: 0.25;
}

.disabled > * {
  opacity: 0.25;
}

.comingNever {
  text-align: center;
  opacity: 0.50;
  margin-top: 10px;
}