.span b {
  color: var(--ifm-color-primary);
}

.heroBanner {
  padding: 0 20px;
  overflow: hidden;
  text-align: center;
  background-color: var(--ifm-background-color);
  color: var(--ifm-heading-color);
}

.buttonsContainer {
  margin-top: 50px;
  gap: 2rem;
  justify-content: center;
}

.introButton {
  font-size: 1.7rem;
  padding: 15px;
  width: 222px;
}
  
.downloadButton {
  font-size: 1.7rem;
  padding: 15px;
  width: 222px;
}

.logo {
  display: none;
}

.title {
  font-size: 4rem;
}

.tagLine {
  font-size: 30px;
}

@media (min-width: 930px) {
  .heroBanner {
    text-align: start;
    padding: 0 100px;
  }

  .buttonsContainer {
    justify-content: left;
    margin-top: 90px;
    margin-left: 5px;
    gap: 80px;
  }

  .tagLine {
    font-size: 65px;
  }

  .logo {
    display: block;
    padding: 0 30px 20px;
    width: 280px;
    float: right;
  }
}
